body {
  background-color: lightblue;
}
img {
  width: 500px;
  border: 5px solid red;
  opacity: 0.1px;
  border-radius: 20px;
  margin: 10px 0px 5px 10px;
  box-sizing: border-box;
}
.search-content {
  margin: 20px;
  display: flex;
  justify-content: center;
}
